<accordion>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      Keshav Shiv Height, Malad
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li>Client: M/s. Sejal Realty </li>
        <li>Built up Area: 74,000 Sqft </li>
        <li> Configuration: Ground Floor + Upper Ground Floor + 2 Podium Floors + 14 Residential Floors</li>
        <li>Work: Quantity Surveying</li>
      </ul>
    </div>
    <div>
      <img style="width:800px;height:500px;" src="assets/Images/keshav1.png"/> 
     
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      Keshav Shiv Height, Malad
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li>Client: M/s. Royal Decoram </li>
        <li>Built up Area: 74,000 Sqft </li>
        <li> Configuration: Ground Floor + Upper Ground Floor + 2 Podium Floors + 14 Residential Floors</li>
        <li>Work: Budgeting and Quantity Surveying</li>
      </ul>
    </div>
    <div>
      <img style="width:800px;height:500px;" src="assets/Images/keshav1.png" />
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      Akash, Mulund
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li>Client: M/s. Akash Enterprises</li>
        <li>Built up Area: 40,000 Sqft  </li>
        <li> Configuration: Configuration: Ground Floor + 7 Residential Floors</li>
        <li>
          Work: MahaRERA Quality Certificate & Site Supervisor Certification for Occupation Certificate
        </li>
      </ul>
    </div>
    <div>
      <img style="width:800px;height:500px;" src="assets/Images/Akash.jpg" />
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      SWM Plant at Lodha Pallava, Dombivali
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li>Client: M/s. Green Roots Solution</li>
        <li>Built up Area: 50,000 Sqft  </li>
        <li> Configuration: Solid Waste Management Plant</li>
        <li>Work : Designing, Planning and Quantity Surveying </li>
      </ul>
    </div>
    <div>
      <img style="width:800px;height:500px;" src="assets/Images/SWMplant.png" />
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      Prakrati Sparsh , Panvel
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li> Client: M/s. Space India  </li>
        <li>Built up Area: 1,00,000 Sqft  </li>
        <li> Configuration: Ground Floor + 4 Residential Floors of 2 Wing. 6 Nos. Building</li>
        <li>Work : Project Monitoring </li>
      </ul>
    </div>
    <div>
      <img style="width:800px;height:500px;" src="assets/Images/prakrati.png" />
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      Swami Vivekananda Shikshan Vikas Mandal , Ulwe
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li> Client: M/s. Hiren M. Tanna </li>
        <li>Built up Area: 62,000 Sqft  </li>
        <li> Configuration: Ground Floor + 4 Floors</li>
        <li>Work : Quantity Surveying </li>
      </ul>
    </div>
    <div>
      <img style="width:800px;height:500px;" src="assets/Images/swami.png" />
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      Evershine Amavi 303, Virar (West), Palghar
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li> Client: M/s. Evershine Developers </li>
        <li>Built up Area: 12,50,000 Sqft  </li>
        <li>Configuration: Ground Floor + 14 Residential Floors 21 Nos. Building </li>
        <li>Work : MahaRERA Engineer Certificate </li>
      </ul>
    </div>
    <div>
      <img style="width:800px;height:500px;" src="assets/Images/maharera.png" />
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      Façade Factory, Nalasopara
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li> Client: M/s. Sejal Intelligence Façade Solutions Pvt. Ltd.</li>
        <li>Built up Area: 50,000 Sqft  </li>
        <li>Configuration: Ground Floor </li>
        <li>Work : Project Monitoring </li>
      </ul>
    </div>
  </accordion-group>
</accordion>
