<div class="servicesHeader">
  <tabset #staticTabs>
    <tab heading="About Us">
      <br />
      <ul class="headingsquare">
        <li>
          The name <b>"Lakshajeet" </b>itself has aim to concrete the confidence in
          the client by providing economical, quality work on time.
        </li>
        <li>
          <b>"Lakshajeet" </b>Constracons is construction firm based in Mumbai and
          founded in 2019.
        </li>
        <li>
          We deal with Residential and Commercial Projects.
        </li>
      </ul>

    </tab>
    <tab heading="Vision & Mission">
      <br />
      <ul style="text-decoration:underline;font-weight:bold"> Vision </ul>
      <ul class="headingsquare">
        <li>
          To be the preeminent provider of superior construction services by
          consistently improving the quality of our product to add value for
          clients through innovation, foresight, integrity, and aggressive
          performance, creativity, ingenuity and imagination.
        </li>
      </ul>
      <br />
      <ul style="text-decoration:underline;font-weight:bold"> Mission </ul>
      <ul class="headingsquare">
        <li>
          To form a team dedicated to providing exceptional customer
          service.
        </li>
        <li>
          We will provide a professional approach to constructing exceptional
          quality projects which meet budget and schedule goals.
        </li>
        <li>
          Our mission is to provide our employees with an honest and
          helpful working environment, where every employee individually
          and collectively, can dedicate themselves to providing our customers
          with exceptional workmanship, extraordinary service, and
          professional integrity
        </li>
        <li>
          Use innovative technology which is environment friendly
        </li>
      </ul>
    </tab>
    <tab heading="Core Values">
      <br />
      <ul>
        <li>
          We focus on below values:
        </li>
      </ul>
      <ul class="headingsquare">
        <li>  Integrity</li>
        <li>  Trust</li>
        <li>  Team Work</li>
        <li>  Quality</li>
      </ul>
    </tab>
    <tab heading="Key Person">
      <br />
      <ul style="text-decoration:underline;font-weight:bold">Mr. Abhijeet Londhe </ul>
      <ul class="headingsquare">
        <li>
          Founder of Lakshajeet Constracons.
        </li>
        <li>
          Bachelor of Engineering ( from Mumbai University ).
        </li>
        <li>
          Post Graduate Diploma in Business Management from NMIMS
          University.
        </li>
      </ul>

      <br />
      <ul style="text-decoration:underline;font-weight:bold"> Membership</ul>
      <ul class="headingsquare">
        <li>
          Associate Member of Institution of Engineers ( India )
        </li>
        <li>
          Chartered Engineer
        </li>
        <li>
          Member of International Association of Engineers
        </li>
        <li>
          Licensed Plumber in Municipal Corporation of Greater Mumbai
        </li>
        <li>
          Site Supervisor Grade III in Municipal Corporation of Greater
          Mumbai
        </li>
        <li>
          Registered Government Contractor in Public Works Department,
          Mumbai
        </li>
      </ul>

    </tab>
    <tab heading="Team">
      <br />
      <ul>
        <li>
          We have team of excellent professional having vast experience in the
          field of construction as well as design.
        </li>
      </ul>
      <ul class="headingsquare">
        <li>  Civil Engineer</li>
        <li>  Architect</li>
        <li>  Quantity Surveyor</li>
        <li> Interior Designer</li>
        <li> Contractor</li>
      </ul>
    </tab>
  </tabset>
</div>

