<accordion>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      CIVIL CONSTRUCTION
    </span>
    <div class="servicesHeader">
      Construction of the Project includes :
      <ul class="headingsquare">
        <li>RCC Work</li>
        <li>Block Work</li>
        <li>Plastering Work</li>
        <li>Water Proofing Work</li>
      </ul>
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      CONSTRUCTION MANAGEMENT SERVICES
    </span>
    <div class="servicesHeader">
      <ul class="headingcicle">
        <li>Construction and Post construction stages of the Project. </li>
        <li> Project management services related the during construction of the project.</li>
        <li> Responsible for proper and safe manner execution of major activities such as:</li>
      </ul>
      <ul class="headingsquare">
        <li>Project Meetings</li>
        <li>Construction Progress Monitoring</li>
        <li>Quality Monitoring</li>
        <li>Cost Management</li>
        <li>Final Completion and Handover</li>
      </ul>
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      PROJECT MONITORING
    </span>
    <div class="servicesHeader">
      <ul class="headingcicle">
        <li> Being Client representative to monitor the project.</li>
        <li>Study the Project Budget and provide valuation in the same.</li>
        <li> feedback to client on critical issues in the project .</li>
        <li>Reporting the activities such as:</li>
      </ul>
      <ul class="headingsquare">
        <li>Design Development Review</li>
        <li>Site Management</li>
        <li>Schedule Monitoring</li>
        <li>Cost Monitoring & Validation </li>
        <li>Quality Control</li>
        <li>Contract Management</li>
        <li>Reporting to client</li>
      </ul>
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>

    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      QUANTITY SURVEYING
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li>Estimation of Quantity of all the activities from drawing provided by the client.</li>
        <li> Preparation of Bar Bending Schedule.</li>
        <li>Preparation of Bill Of Quantity (BOQ).</li>
        <li>Preparation of Tender Document . </li>
        <li>Certification of the Quantity and bill provided by the Contractor during construction of the Project.</li>
        <li>Preparation of Cash Flow.</li>
      </ul>
    </div>
  </accordion-group>
  <accordion-group [isOpen]="false" #accGroup>
    <span accordion-heading style="color:mediumblue">
      <i class="fa" [ngClass]="{'fa-arrow-down': accGroup?.isOpen, 'fa-arrow-up': !accGroup?.isOpen}"> </i> &nbsp;
      MAHARERA ENGINEER AND QUALITY CERTIFICATION
    </span>
    <div class="servicesHeader">
      <ul class="headingsquare">
        <li>Preparation of Engineer Certificate as Per MahaRERA Rule and Regulations. </li>
        <li> Preparation of Quality Certificate as Per MahaRERA Rule and Regulations.</li>
      </ul>
    </div>
  </accordion-group>

</accordion>
