<div class="maindiv"> 
  <div>
    <img style="width:65px;height:50px;margin-bottom:-19px" src="assets/Images/logos/addresslogo.png" /> B/ 6 , Plot No 184 , Gorai(2) Corner CHS LTD, RSC-50 ,Gorai-2
    Borivali( West) , Mumbai 400091
  </div>
  <div>
    <img style="width: 45px; height: 45px;
    margin-top: 15px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 15px;" src="assets/Images/logos/calllogo.png" /> + 91 7977039243

  </div>
  <div>
    <img style="width: 45px; height: 45px;
    margin-top: 15px;
    margin-bottom: -19px;
    margin-left: 10px;
    margin-right: 15px;" src="assets/Images/logos/emaillogo.jpg" />
    <a href="mailto:lakshajeetgroup@gmail.com" target="_blank" class="lnktxt"> lakshajeetgroup@gmail.com</a>
  </div>
  <div>
  
    <label style="color:blue;padding-left: 310px"> Follow us on </label>
    <div style="padding-left: 200px;margin-top:10px;">
      <a href="https://www.facebook.com/lakshajeetconstraconspvtltd" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/lakshajeet" target="_blank" class="fa fa-twitter"></a>
      <a href="https://www.instagram.com/lakshajeet/" target="_blank" class="fa fa-instagram"></a>
      <a href="https://www.linkedin.com/company/lakshajeet" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://youtube.com/channel/UCrph-iozwg-vqZ7gZAmjmBw" target="_blank" class="fa fa-youtube"></a>
      <!--<label>lakshajeet</label>-->
    </div>
  </div>
</div>

