<carousel>
  <slide>
    <img src="assets/Images/pic1.jpg" alt="first slide" style="position:center ;width:100%;height:500px">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>First slide label</h3>
      <p>Prakriti Sprash</p>-->
    </div>
  </slide>
  <slide>
    <img src="assets/Images/pic2new.jpg" alt="second slide" style="display: block;position:center; width:100%; height:500px">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>
      <p>Blur</p>-->
    </div>
  </slide>
  <slide>
    <img src="assets/Images/pic3new.jpg" alt="third slide" style="display: block;position: center; width:100%; height:500px">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Third slide label</h3>
      <p>Park</p>-->
    </div>
  </slide>
  <slide>
    <img src="assets/Images/pic4new.jpg" alt="third slide" style="display: block;position: center; width:100%; height:500px">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Third slide label</h3>
      <p>Park</p>-->
    </div>
  </slide>
  <slide>
    <img src="assets/Images/pic5.jpg" alt="third slide" style="display: block;position: center; width:100%; height:500px">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Third slide label</h3>
      <p>Park</p>-->
    </div>
  </slide>
  <!--<slide>
    <img src="assets/Images/pic6.jpg" alt="third slide" style="display: block;position: center; width:100%; height:500px">
    <div class="carousel-caption d-none d-md-block">-->
      <!--<h3>Third slide label</h3>
      <p>Park</p>-->
    <!--</div>
  </slide>
  <slide>
    <img src="assets/Images/pic7.jpg" alt="third slide" style="display: block;position: center; width:100%; height:500px">
    <div class="carousel-caption d-none d-md-block">-->
      <!--<h3>Third slide label</h3>
      <p>Park</p>-->
    <!--</div>
  </slide>-->
</carousel>
